.heading {
  text-align: center;
  font-family: "Comfortaa", cursive;
}
button {
  font-family: "Comfortaa", cursive;
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

button:active {
  background: var(--color);
  color: #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 35px;
}

ul {
  list-style: none;
  padding: 0;
  border-radius: 14px;
  overflow: hidden;
  max-width: 700px;
  margin: 0 auto;
}

a {
  font-family: "Comfortaa", cursive;
  color: black;
  display: block;
}

li {
  padding: 10px 20px;
  background-color: #052b8327;
}

li:nth-child(2n + 1) {
  background-color: #052b83a7;
}
